DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=123456
DB_DATABASE=vietnam_travel

RUSTFS_ENDPOINT=localhost
RUSTFS_PORT=9000
RUSTFS_BUCKET=hcm-explorer
RUSTFS_ACCESS_KEY=admin
RUSTFS_SECRET_KEY=123456
RUSTFS_REGION=us-east-1